<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.kata.name"></h1>
    <h4>Kata : <b>{{vm.kata.kata}}</b></h4>
    <h4>Summary : <small>{{vm.kata.summary}}</small></h4>
    <h4>Belt : <b>{{vm.kata.belt.name}}</b></h4>
  </div>
  <div class="pull-right"
       data-ng-show="vm.kata.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="katas.edit({ kataId: vm.kata._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.kata.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.kata.user"
            data-ng-bind="vm.kata.user.displayName"></span>
      <span data-ng-if="!vm.kata.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.kata.content"></p>
</section>
