<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.sdtechnique.name"></h1>
    <img src="/modules/sdtechniques/client/img/defaultAttachment.png" width="400">
    <h4>Technieqe : <b>{{vm.sdtechnique.technique}}</b></h4>
    <h4>Belt : {{vm.sdtechnique.belt.name}}</h4>
    <h4>Attack : {{vm.sdtechnique.attack}}</h4>
    <h4>Description : <small>{{vm.sdtechnique.description}}</small></h4> 
  </div>
  <div class="pull-right"
       data-ng-show="vm.sdtechnique.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="sdtechniques.edit({ sdtechniqueId: vm.sdtechnique._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.sdtechnique.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.sdtechnique.user"
            data-ng-bind="vm.sdtechnique.user.displayName"></span>
      <span data-ng-if="!vm.sdtechnique.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.sdtechnique.content"></p>
</section>
